{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
{{super()}}
<link rel='shortcut icon' href="{{ url_for('static',filename='favicon.ico')}}">
{% endblock %}
{% block title %}
Flasky
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}
{% block page_content %}
<div class='page-header'>
    {% for message in get_flashed_messages() %}
    <div class='alert alert-warning'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        {{ message }}
        </div>
        {% endfor %}
    <h1>Hello , {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
<div style="width: 50%">
{{wtf.quick_form(form)}}
</div>
<p>   The connection time to this current page is {{moment(current_time).format('LLL')}}.</p>
<p>   That was {{moment(current_time).fromNow(refresh=True)}}</p>
{% endblock %}
{% endblock %}

{% block scripts %}
{{super()}}
{{moment.include_moment()}}
{% endblock %}