{% extends "bootstrap/base.html"%}
{% block head %}
{{super()}}
<link rel='shortcut icon' href="{{ url_for('static',filename='favicon.ico')}}">
{% endblock %}
{% block title %}
Flasky
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}
<h1>Hello World!</h1>
<p>   The connection time to this current page is {{moment(current_time).format('LLL')}}.</p>
<p>   That was {{moment(current_time).fromNow(refresh=True)}}</p>
{% endblock %}

{% block scripts %}
{{super()}}
{{moment.include_moment()}}
{% endblock %}